*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 11.25px;
}

body {
    min-height: 100vh;
    min-height: 100svh;
    max-height: 100vh;
    max-height: 100svh;
    overflow: hidden;
    background-color: lightseagreen;
    background: url(imgs/assets/sky.svg) no-repeat;
    background-size: cover;
    background-position: center;
}

img {
    max-width: 100%;
}

.cloud {
    z-index: -10;
    opacity: 0.5;
    /* animation: cloudClouding 40s linear infinite; */
    position: fixed;
    right: -10%;
    top: 15%;
    width: 150px;
}

.cloud:nth-child(2) {
    top: 30%;
    right: -30%;
    width: 250px;
    animation-duration: 45s;
}

.player-container {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 100px;
    left: 0px;
    transition: left 100ms, top 100ms;
}

button {
    font-size: 1.5rem;
    border: none;
    background: lightskyblue;
    color: #333;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    cursor: pointer;

    transition: background-color 100ms;
}

#start-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#start-btn:hover {
    background-color: rgb(89, 160, 205);
}

#start-btn-container {
    pointer-events: none;
    position: absolute;
    background-color: rgba(33, 33, 33, 0.34);
    width: 70vw;
    height: 70vh;
    backdrop-filter: blur(1rem);

    z-index: 10;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#start-btn-container * {
    pointer-events: all;
}

.dynamic {
    position: absolute;
    top: -10%;
    font-size: 4rem;

    animation: fall 10s linear infinite;
}

.scores {
    position: absolute;
    top: 2%;
    left: 2%;
    display: flex;
    gap: 1rem;
    font-size: 1.6rem;
    color: rgb(135, 169, 185);
    font-family: monospace;
}

.score-text {
    font-size: 1em;
}